body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    color:rgb(14, 120, 62);
}

#map {
    height: 75vh;
}

.container {
    margin-top: 1em;
    border: 3px solid rgb(14, 120, 62);
}

.image-marker{
    height: 55px;
    width: 55px
}